matplotlib==3.3.4
matplotlib-inline==0.1.2
numpy==1.19.5
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-datasets==4.4.0
tensorflow-estimator==2.4.0
tensorflow-metadata==1.2.0
